<launch>
  <arg name="marker_size" default="11" />
  <arg name="max_new_marker_error" default="0.1" />
  <arg name="max_track_error" default="0.4" />

  <arg name="cam_image_topic" default="/camera/depth_registered/points" />
  <arg name="cam_info_topic" default="/camera/rgb/camera_info" />
  <arg name="output_frame" default="/camera_rgb_optical_frame" />

	<!-- <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/> -->

  <node name="ar_track_alvar_kinect" pkg="ar_track_alvar" type="individualMarkers"
    respawn="false" output="screen"
    args="$(arg marker_size)
          $(arg max_new_marker_error)
          $(arg max_track_error)
          $(arg cam_image_topic)
          $(arg cam_info_topic)
          $(arg output_frame)" />

	<node name="ar_detector_front" pkg="tag_detection" type="ar_detect.py" />
	<node name="logo_dir_guide" pkg="target_searching" type="matching_kinect.py" />
	<node name="logo_detector_front" pkg="tag_detection" type="logo_detect.py" />


</launch>
